In [2]:
import pandas as pd 
import numpy as np

In [3]:
data_frame = pd.read_csv("mnist_test.csv")

In [4]:
print(data_frame.head(5))

   label  1x1  1x2  1x3  1x4  1x5  1x6  1x7  1x8  1x9  ...  28x19  28x20  \
0      7    0    0    0    0    0    0    0    0    0  ...      0      0
1      2    0    0    0    0    0    0    0    0    0  ...      0      0
2      1    0    0    0    0    0    0    0    0    0  ...      0      0
3      0    0    0    0    0    0    0    0    0    0  ...      0      0
4      4    0    0    0    0    0    0    0    0    0  ...      0      0

   28x21  28x22  28x23  28x24  28x25  28x26  28x27  28x28
0      0      0      0      0      0      0      0      0
1      0      0      0      0      0      0      0      0
2      0      0      0      0      0      0      0      0
3      0      0      0      0      0      0      0      0
4      0      0      0      0      0      0      0      0

[5 rows x 785 columns]

In [5]:
data_frame.tail(5)

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
10000,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10001,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10002,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10003,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10004,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10005 entries, 0 to 10004
Columns: 785 entries, label to 28x28
dtypes: int64(785)
memory usage: 59.9 MB

In [7]:
data_frame.shape

(10005, 785)

In [8]:
data_frame.columns

Index(['label', '1x1', '1x2', '1x3', '1x4', '1x5', '1x6', '1x7', '1x8', '1x9',
       ...
       '28x19', '28x20', '28x21', '28x22', '28x23', '28x24', '28x25', '28x26',
       '28x27', '28x28'],
      dtype='object', length=785)

In [9]:
data_frame.columns[1:10]

Index(['1x1', '1x2', '1x3', '1x4', '1x5', '1x6', '1x7', '1x8', '1x9'], dtype='object')

In [10]:
data_frame.dtypes

label    int64
1x1      int64
1x2      int64
1x3      int64
1x4      int64
         ...
28x24    int64
28x25    int64
28x26    int64
28x27    int64
28x28    int64
Length: 785, dtype: object

In [11]:
# Provides summary statistics for numeric columns.
data_frame.describe()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
count,10005.000000,10005.0,10005.0,10005.0,10005.0,10005.0,10005.0,10005.0,10005.0,10005.0,...,10005.000000,10005.000000,10005.000000,10005.000000,10005.0,10005.0,10005.0,10005.0,10005.0,10005.0
mean,4.442579,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.179210,0.163518,0.052574,0.000600,0.0,0.0,0.0,0.0,0.0,0.0
std,2.895906,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.672733,5.734640,2.419399,0.059985,0.0,0.0,0.0,0.0,0.0,0.0
min,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
25%,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
50%,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
75%,7.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
max,9.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,253.000000,253.000000,156.000000,6.000000,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
data_frame.sample(10)

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
2842,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3433,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
510,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9841,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4118,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7739,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5618,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8897,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2089,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
933,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Selecting And Filtering Data

In [13]:
data_frame.loc[0]

label    7
1x1      0
1x2      0
1x3      0
1x4      0
        ..
28x24    0
28x25    0
28x26    0
28x27    0
28x28    0
Name: 0, Length: 785, dtype: int64

In [14]:
data_frame.iloc[1:]

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10000,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10001,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10002,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10003,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10004,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
data_frame[['2x14']]

       2x14
0         0
1         0
2         0
3         0
4         0
...     ...
10000     0
10001     0
10002     0
10003     0
10004     0

[10005 rows x 1 columns]

In [16]:
# Multiple columns 
data_frame[['24x28', '1x1']]

       24x28  1x1
0          0    0
1          0    0
2          0    0
3          0    0
4          0    0
...      ...  ...
10000      0    0
10001      0    0
10002      0    0
10003      0    0
10004      0    0

[10005 rows x 2 columns]

Handling Missing Data

In [17]:
data_frame.dropna()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10000,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10001,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10002,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10003,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10004,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
data_frame.fillna("NULL")

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10000,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10001,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10002,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10003,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10004,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
print(data_frame)

# print(data_frame.drop_duplicates())

       label  1x1  1x2  1x3  1x4  1x5  1x6  1x7  1x8  1x9  ...  28x19  28x20  \
0          7    0    0    0    0    0    0    0    0    0  ...      0      0
1          2    0    0    0    0    0    0    0    0    0  ...      0      0
2          1    0    0    0    0    0    0    0    0    0  ...      0      0
3          0    0    0    0    0    0    0    0    0    0  ...      0      0
4          4    0    0    0    0    0    0    0    0    0  ...      0      0
...      ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...    ...    ...
10000      2    0    0    0    0    0    0    0    0    0  ...      0      0
10001      3    0    0    0    0    0    0    0    0    0  ...      0      0
10002      4    0    0    0    0    0    0    0    0    0  ...      0      0
10003      5    0    0    0    0    0    0    0    0    0  ...      0      0
10004      6    0    0    0    0    0    0    0    0    0  ...      0      0

       28x21  28x22  28x23  28x24  28x25  28x26  28x27  28x28
0          0      0      0      0      0      0      0      0
1          0      0      0      0      0      0      0      0
2          0      0      0      0      0      0      0      0
3          0      0      0      0      0      0      0      0
4          0      0      0      0      0      0      0      0
...      ...    ...    ...    ...    ...    ...    ...    ...
10000      0      0      0      0      0      0      0      0
10001      0      0      0      0      0      0      0      0
10002      0      0      0      0      0      0      0      0
10003      0      0      0      0      0      0      0      0
10004      0      0      0      0      0      0      0      0

[10005 rows x 785 columns]

In [20]:
data_frame.drop_duplicates()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10000,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10001,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10002,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10003,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10004,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
data = pd.DataFrame({'A1': [1,2,3],
                     'A2': [4,5,6],
                     'A3': [7,8,9]},
                     index = ['X','Y','Z'])

print(data)

   A1  A2  A3
X   1   4   7
Y   2   5   8
Z   3   6   9

In [26]:
print(data.loc["X"])

print(data.loc[ :,'A2'])

A1    1
A2    4
A3    7
Name: X, dtype: int64
X    4
Y    5
Z    6
Name: A2, dtype: int64